<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15 pb-0">
        <div class="row">
          <div class="col-6">
            <a @click="openPage('/listPerusahaan/add')" class="btn-grey"><i class="fas fa-plus-square mr-5"></i>Add</a>
          </div>
          <div class="col-6 text-right">
            <b-form-group horizontal label="Search" class="mb-0 filter-table">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="Keywords" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
        </div>
      </div>
      <hr class="mb-0">
      <div class="p-15 pt-0">
        <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
          <template slot="status" slot-scope="data">
            <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
          </template>
          <template slot="actions" slot-scope="data">
            <b-button size="sm" @click="editItem('/listPerusahaan/edit?id=' + data.item.id)" class="btn-table mr-1">
              <i class="far fa-edit"></i>
            </b-button>
            <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
              <i class="fas fa-times"></i>
            </b-button>
          </template>
        </b-table>
        <nav class="mt-20">
          <b-pagination align="right" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'
import axios from 'axios'
import { Auth } from '@/api'

export default {
  name: 'listPerusahaan',
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      fields: [
        {
          key: 'name',
          label: 'Nama Perusahaan',
          sortable: true
        },
        {
          key: 'email',
          label: 'email',
          sortable: true
        },
        {
          key: 'telepon',
          label: 'No Telephone',
          sortable: true
        },
        {
          key: 'address',
          label: 'Alamat Kantor',
          sortable: true
        },
        {
          key: 'insert_by',
          label: 'Ditambah oleh',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      items: [
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      filter: null,
      notificationSystem: {
        options: {
          success: {
            position: 'bottomRight'
          }
        }
      }
    }
  },
  computed: {
    name () {
      return this.$route.name
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'danger'
          : status === 'active' ? 'success'
            : status === 'inactive' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    openPage (event) {
      this.$router.push(event)
    },
    editItem (event) {
      this.$router.push(event)
    },
    showModal (id) {
      this.$refs[id].show()
    },
    deleteItem(event) {
      this.$swal({
        title: 'Are you sure?',
        text: 'You can\'t revert your action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: false
      }).then((result) => {
        if(result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success')
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.delete(Auth.api_url+'admin/company/delete/'.concat(event)).then(response => {
            // this.$router.go()
            this.fetchData()
          }).catch(error => {
            console.log('error', error)
          })
        } else {
          this.$swal('Cancelled', 'Your file is still intact', 'info')
        }
      })
    },
    fetchData() {
      axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
      axios.get(Auth.api_url+'admin/company').then(response => {
        // console.log('test', response.data)
        this.items = response.data
      }).catch(error => {
        console.log('error', error)
      })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style>
</style>
