<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15">
        <b-tabs class="tab-main-custom">
          <b-tab title="List Pengajuan KP" active>
            <div>
              <hr class="mb-0 mt-0">
              <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                </template>
                <template slot="actions" slot-scope="data">
                  <b-button size="sm" @click="editItem('/classes/edit?id=' + data.item.id)" class="btn-table mr-1">
                    <i class="fas fa-check"></i> Terima
                  </b-button>
                  <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
                    <i class="fas fa-times"></i> Tolak
                  </b-button>
                </template>
              </b-table>
              <nav class="mt-20">
                <b-pagination align="right" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
              </nav>
            </div>
          </b-tab>
          <b-tab title="List Upload Data Perusahaan" >
            <div>
              <hr class="mb-0 mt-0">
              <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields2" :current-page="currentPage" :per-page="perPage">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                </template>
                <template slot="actions" slot-scope="data">
                  <b-button size="sm" @click="editItem('/classes/edit?id=' + data.item.id)" class="btn-table mr-1">
                    <i class="fas fa-check"></i> Terima
                  </b-button>
                  <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
                    <i class="fas fa-times"></i> Tolak
                  </b-button>
                </template>
              </b-table>
              <nav class="mt-20">
                <b-pagination align="right" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
              </nav>
            </div>
          </b-tab>
          <b-tab title="Riwayat Pengajuan" >
            <div>
              <hr class="mb-0 mt-0">
              <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields3" :current-page="currentPage" :per-page="perPage">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                </template>
                <template slot="actions" slot-scope="data">
                  <b-button size="sm" @click="editItem('/classes/edit?id=' + data.item.id)" class="btn-table mr-1">
                    <i class="fas fa-check"></i> Terima
                  </b-button>
                  <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
                    <i class="fas fa-times"></i> Tolak
                  </b-button>
                </template>
              </b-table>
              <nav class="mt-20">
                <b-pagination align="right" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
              </nav>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'
import axios from 'axios'
import { Auth } from '@/api'

export default {
  name: 'classes',
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      fields: [
        {
          key: 'mhs',
          label: 'Name Mahasiswa',
          sortable: true
        },
        {
          key: 'perusahaan',
          label: 'Name Perusahaan',
          sortable: true
        },
        {
          key: 'tgl',
          label: 'Tanggal Pengajuan',
          sortable: true
        },
        {
          key: 'keahlian',
          label: 'Keahlian/Bidang',
          sortable: true
        },
        {
          key: 'file',
          label: 'Berkas',
          sortable: true
        },
        {
          key: 'status',
          label: 'Status',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      fields2: [
        {
          key: 'mhs',
          label: 'Name Mahasiswa',
          sortable: true
        },
        {
          key: 'perusahaan',
          label: 'Name Perusahaan',
          sortable: true
        },
        {
          key: 'tgl',
          label: 'Tanggal Pengajuan',
          sortable: true
        },
        {
          key: 'keahlian',
          label: 'Keahlian/Bidang',
          sortable: true
        },
        {
          key: 'file',
          label: 'Berkas',
          sortable: true
        },
        {
          key: 'status',
          label: 'Status Berkas',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      fields3: [
        {
          key: 'mhs',
          label: 'Name Mahasiswa',
          sortable: true
        },
        {
          key: 'perusahaan',
          label: 'Name Perusahaan',
          sortable: true
        },
        {
          key: 'tgl',
          label: 'Tanggal Pengajuan',
          sortable: true
        },
        {
          key: 'keahlian',
          label: 'Keahlian/Bidang',
          sortable: true
        },
        {
          key: 'file',
          label: 'Berkas',
          sortable: true
        },
        {
          key: 'status',
          label: 'Status',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      items: [
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      filter: null,
      notificationSystem: {
        options: {
          success: {
            position: 'bottomRight'
          }
        }
      }
    }
  },
  computed: {
    name () {
      return this.$route.name
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'danger'
          : status === 'active' ? 'success'
            : status === 'inactive' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    openPage (event) {
      this.$router.push(event)
    },
    editItem (event) {
      this.$router.push(event)
    },
    showModal (id) {
      this.$refs[id].show()
    },
    deleteItem(event) {
      this.$swal({
        title: 'Are you sure?',
        text: 'You can\'t revert your action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: false
      }).then((result) => {
        if(result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success')
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.delete(Auth.api_url+'student/kp/'.concat(event)).then(response => {
            // this.$router.go()
            this.fetchData()
          }).catch(error => {
            console.log('error', error)
          })
        } else {
          this.$swal('Cancelled', 'Your file is still intact', 'info')
        }
      })
    },
    fetchData() {
      axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
      axios.get(Auth.api_url+'student/kp').then(response => {
        this.items = response.data
        // console.log('test', response.data.data.rows)
      }).catch(error => {
        console.log('error', error)
      })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style>
</style>
