<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15">
        <b-tabs class="tab-main-custom">
          <b-tab title="Laporan" active>
            <div class="p-10">
              <div class="row">
                <div class="col-md-6 offset-md-6 text-right">
                  <b-form-group horizontal label="Search" class="mb-0 filter-table">
                    <b-input-group>
                      <b-form-input v-model="filter" placeholder="Keywords" />
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </div>
              </div>
            </div>
            <hr class="mb-0 mt-0">
            <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
              <template slot="file" slot-scope="data">
                <a :href="data.item.file" class="btn-table" download><i class="fas fa-download"></i> Download</a>
              </template>
              <template slot="actions" slot-scope="data">
                <b-button size="sm" @click="editItem('/laporan/edit?id=' + data.item.id)" class="btn-table mr-1">
                  <i class="far fa-edit"></i>
                </b-button>
                <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
                  <i class="fas fa-times"></i>
                </b-button>
              </template>
            </b-table>
            <nav class="mt-20">
              <b-pagination align="right" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
          </b-tab>
          <b-tab title="Title Laporan">
            <div class="p-10">
              <div class="row">
                <div class="col-6">
                  <a @click="openPage('/laporan/titleAdd')" class="btn-grey"><i class="fas fa-plus-square mr-5"></i>Add</a>
                </div>
              </div>
            </div>
            <hr class="mb-0 mt-0">
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items2" :fields="fields2">
              <template slot="actions" slot-scope="data">
                <b-button size="sm" @click="editItem('/laporan/titleEdit?id=' + data.item.id)" class="btn-table mr-1">
                  <i class="far fa-edit"></i>
                </b-button>
                <b-button size="sm" v-on:click="deleteItem(data.item.id)" class="btn-table">
                  <i class="fas fa-times"></i>
                </b-button>
              </template>
            </b-table>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'
import axios from 'axios'
import { Auth } from '@/api'

export default {
  name: 'laporan',
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      fields: [
        {
          key: 'kp.student.name',
          label: 'Nama Mahasiswa',
          sortable: true
        },
        {
          key: 'kptitlelaporan.title',
          label: 'Judul Laporan',
          sortable: true
        },
        {
          key: 'file',
          label: 'Berkas',
          sortable: true
        },
        {
          key: 'kp.laporan_status',
          label: 'Status Laporan',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      fields2: [
        {
          key: 'title',
          label: 'Judul Laporan',
          sortable: true
        },
        {
          key: 'is_active',
          label: 'Status Laporan',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false
        }
      ],
      items: [
      ],
      items2: [
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      filter: null,
      notificationSystem: {
        options: {
          success: {
            position: 'bottomRight'
          }
        }
      }
    }
  },
  computed: {
    name () {
      return this.$route.name
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'danger'
          : status === 'active' ? 'success'
            : status === 'inactive' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    openPage (event) {
      this.$router.push(event)
    },
    editItem (event) {
      this.$router.push(event)
    },
    showModal (id) {
      this.$refs[id].show()
    },
    downloadFile (event) {
      let blob = new Blob([event], { type: "octet/stream" } )
      let link = document.createElement('a')
      link.href = window.URL.createObjectURL(blob)
      link.download = 'berkas_laporan.jpg'
      link.click()
    },
    deleteItem(event) {
      this.$swal({
        title: 'Are you sure?',
        text: 'You can\'t revert your action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: false
      }).then((result) => {
        if(result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success')
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.delete(Auth.api_url+'admin/title-laporan/' + event + '/delete').then(response => {
            // this.$router.go()
            this.fetchData()
          }).catch(error => {
            console.log('error', error)
          })
        } else {
          this.$swal('Cancelled', 'Your file is still intact', 'info')
        }
      })
    },
    fetchData() {
      axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
      axios.get(Auth.api_url+'kp/laporan').then(response => {
        // console.log('test', response.data)
        this.items = response.data
      }).catch(error => {
        console.log('error', error)
      })
      axios.get(Auth.api_url+'admin/title-laporan').then(response => {
        // console.log('test', response.data)
        this.items2 = response.data
      }).catch(error => {
        console.log('error', error)
      })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style>
</style>
