<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15 pb-0">
        <div class="row">
          <div class="col-md-6 offset-md-6 text-right">
            <b-form-group horizontal label="Search" class="mb-0 filter-table">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="Keywords" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
        </div>
      </div>
      <hr class="mb-0">
      <div class="p-15 pt-0">
        <!-- <table class="w-100">
          <tbody>
            <tr v-for="item in items" :key="item.id">
              <td>{{item.title}}</td>
              <td>Status</td>
              <td>
                <template v-for="berkasLoop in laporanDetail">
                <span v-if="berkasLoop.kptitlelaporan.id === item.id">test</span>
                <span v-else>haha</span>
              </template>
              </td>
              <td>s</td>
            </tr>
          </tbody>
        </table> -->
        <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields">
          <template slot="status" slot-scope="data">
            <template v-for="berkasLoop in laporanDetail">
              <span v-if="berkasLoop.kptitlelaporan.id === data.item.id">Selesai</span>
            </template>
          </template>
          <template slot="berkas" slot-scope="data">
            <template v-for="berkasLoop in laporanDetail">
              <span v-if="berkasLoop.kptitlelaporan.id === data.item.id">
                <a :href="berkasLoop.file" class="btn-table" download><i class="fas fa-download"></i> Download</a>
              </span>
            </template>
          </template>
          <template slot="actions" slot-scope="data">
            <template v-for="berkasLoop in laporanDetail">
              <span v-if="berkasLoop.kptitlelaporan.id === data.item.id">
                <b-button size="sm" @click="editItem('/laporan/edit?id=' + data.item.id)" class="btn-table mr-1">
                  <i class="far fa-edit"></i> Update
                </b-button>
              </span>
            </template>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'
import axios from 'axios'
import { Auth } from '@/api'

export default {
  name: 'laporanMahasiswa',
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      fields: [
        {
          key: 'title',
          label: 'Judul Laporan',
          sortable: true
        },
        {
          key: 'status',
          label: 'Status',
          sortable: true
        },
        {
          key: 'berkas',
          label: 'Berkas',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Action',
          sortable: true
        },
      ],
      items: [
      ],
      laporanDetail: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      filter: null,
      notificationSystem: {
        options: {
          success: {
            position: 'bottomRight'
          }
        }
      }
    }
  },
  computed: {
    name () {
      return this.$route.name
    }
  },
  methods: {
    validateRegister () {
      this.$validator.validateAll().then((result) => {
        if(result) {
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.post(Auth.api_url+'/student/laporan/1/' + event + '/upload', this.editData).then(response => {
            // console.log('test', response)
            this.$router.push('/laporan')
            this.$toast.success('data saved successfully!', 'Success', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          }).catch(error => {
            // console.log('error', error)
            this.$toast.success('cant saved data!', 'Error', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          })
        } else {
          this.$toast.success('please fill in required fields!', 'Error', {
            position: 'topCenter',
            icon: 'icon-envelope',
            progressBarColor: 'rgb(0, 255, 184)',
            theme: 'dark',
            backgroundColor: '#565c70',
            messageColor: '#fff'
          })
        }
      })
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'danger'
          : status === 'active' ? 'success'
            : status === 'inactive' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    openPage (event) {
      this.$router.push(event)
    },
    editItem (event) {
      this.$router.push(event)
    },
    showModal (id) {
      this.$refs[id].show()
    },
    deleteItem(event) {
      this.$swal({
        title: 'Are you sure?',
        text: 'You can\'t revert your action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Delete it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: false
      }).then((result) => {
        if(result.value) {
          this.$swal('Deleted', 'You successfully deleted this file', 'success')
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.delete(Auth.api_url+'admin/company/delete/'.concat(event)).then(response => {
            // this.$router.go()
            this.fetchData()
          }).catch(error => {
            console.log('error', error)
          })
        } else {
          this.$swal('Cancelled', 'Your file is still intact', 'info')
        }
      })
    },
    fetchData() {
      axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
      axios.get(Auth.api_url+'admin/title-laporan').then(response => {
        // console.log('test', response.data)
        this.items = response.data
      }).catch(error => {
        console.log('error', error)
      })
      axios.get(Auth.api_url+'kp/1/laporan?kp_id=1').then(response => {
        // console.log('test', response.data)
        this.laporanDetail = response.data
      }).catch(error => {
        console.log('error', error)
      })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style>
</style>
