<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <span class="font-300 color-black">Hallo, Jhon Doe!</span>
      <img
        :src="`/placeholder.png`"
        class="img-avatar"
        alt="paradigm-img" />
    </template>\
    <template slot="dropdown">
      <b-dropdown-header
        tag="div"
        class="text-center">
        <strong>Settings</strong>
      </b-dropdown-header>
      <b-dropdown-item @click="logout()"><i class="fa fa-lock" /> Logout</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
import { Auth } from '@/api'
export default {
  name: 'DefaultHeaderDropdownAccnt',
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { itemsCount: 42 }
  },
  methods: {
    logout () {
      Auth.Session.delete()
      this.$router.push('/login')
    }
  }
}
</script>
