// Here you can add other styles

body {
    background-color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
}

.card {
    border-radius: 0px;
    border: none;
    border-top: 4px solid #e4e4e4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box {
    border-radius: 0px;
    border: none;
    border-top: 4px solid #e4e4e4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 30px;
    min-height: 500px;
}

.navbar {
    button {
        border:1px solid #e4e4e4;
        border-top: none;
        border-bottom: none;
        height: 100%;
        border-radius: 0px;
    }
    .navbar-brand {
        background-color: #151515;
        width: 250px;
        padding: 15px 25px;
        .navbar-brand-full {
            width: 100%;
        }
    }
    .navbar-nav {
        margin-right: 10px;
        .img-avatar {
            border: 1px solid #e4e4e4;
        }
    }
}

.sidebar {
    background-color: #151515;
    .sidebar-nav {
        .nav-link {
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            padding: 12px 20px;
            color: #c7c7c7;
            transition: .3s;
            border-left: 2px solid transparent;
            .nav-icon {
                width: 25px;
            }
        }
        .nav-link.active {
            background-color: rgba(0,0,0,.1);
            border-left: 2px solid $color-primary;
            color: #fff;
            .nav-icon {
                color: #fff;
            }
        }
        .nav-link:hover {
            background-color: rgba(0,0,0,.1);
            .nav-icon {
                color: #fff;
            }
        }
        li.nav-item:nth-child(1) {
            a.nav-link {
                i {
                    color: green;
                }
            }
        }
        li.nav-item:nth-child(2) {
            a.nav-link {
                i {
                    color: red;
                }
            }
        }
        li.nav-item:nth-child(3) {
            a.nav-link {
                i {
                    color: #ff9900;
                }
            }
        }
        li.nav-item:nth-child(4) {
            a.nav-link {
                i {
                    color: #cc00cc;
                }
            }
        }
        li.nav-item:nth-child(5) {
            a.nav-link {
                i {
                    color: #0066ff;
                }
            }
        }
        li.nav-item:nth-child(6) {
            a.nav-link {
                i {
                    color: #ff0066;
                }
            }
        }
        li.nav-item:nth-child(7) {
            a.nav-link {
                i {
                    color: #009999;
                }
            }
        }
    }
}

.sidebar-fixed {
    .sidebar {
        width: 250px;
        .sidebar-nav {
            width: 250px;
            .nav {
                width: 250px;

            }
        }
    }
}

html:not([dir="rtl"]) .sidebar {
    margin-left: -250px;
}

@media (min-width: 576px) and (min-width: 992px) {
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, 
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer {
        margin-left: 250px;
    }
}

table.table {
    thead {
        th {
            border: none;
            border-bottom: none;
            border-top: none;
            font-weight: 500;
        }
        th:focus {
            outline: none !important;
        }
    }
    tbody {
        font-weight: 300 !important;
        td {
            border: none;
            border-bottom: none;
            border-top: none;
        }
        .badge {
            padding: 4px 8px;
            font-size: 10px;
            text-transform: uppercase;
        }
        .img-table {
            width: 50px;
        }
    }
}

.page-item {
    .page-link {
        border-radius: 0px !important;
        color: #000;
    }
    .page-link.btn-primary {
        padding: 0.5rem 0.75rem;
    }
}

.page-item.active {
    .page-link {
        background-color: #000;
        border-color: #000;
        box-shadow: none;
    }
}

.breadcrumb {
    margin-bottom: 15px;
    .breadcrumb-item {
        a {
            color: #000;
        }
        span {
            color: rgba(0,0,0,.5);
        }
    }
}

.filter-table {
    input {
        border-radius: 0px;
    }
    input:focus {
        outline: none !important;
    }
    button {
        border-radius: 0px;
        background-color: #F4F4F4;
    }
    button.disabled {
        cursor: no-drop;
    }
}

.btn-table {
    // width: 30px;
    background-color: #f4f4f4;
    padding: 0.25rem 0.5rem;
    border: 1px solid #e4e4e4;
    font-size: 13px;
}

.btn-table:hover,
.btn-table:focus,
.btn-table:active,
.btn-table:not(:disabled):not(.disabled):active {
    border: 1px solid #e4e4e4;
}

.custom-file-input.is-invalid ~ .custom-file-label {
    border-color: #e4e4e4;
    border-radius: 0px;
}

.custom-file-input.is-invalid:focus ~ .custom-file-label {
    box-shadow: none;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-input:focus,
.custom-file-label:focus,
.custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    border-color: $color-primary;
}

.custom-file-input.is-valid ~ .custom-file-label {
    border-radius: 0px;
}

.login-box {
    margin-top: -100px;
    .logo-login {
        height: 150px;
    }
    .input-group-text {
        border-radius: 0px;
        background-color: #f6f6f6;
    }
    input {
        border-radius: 0px;
    }
}

span.error {
    font-weight: 300;
    font-size: 13px;
    color: red;
}

.dropdown-item:focus {
    box-shadow: none;
    outline: none;
}

.image-preview {
    img.preview {
        width: 200px;
        background-color: white;
        object-fit: cover;
        object-position: center;
        border: 1px solid #e4e4e4;
        padding: 5px;
    }
}

.ql-container {
    .ql-editor {
        min-height: 250px !important;
    }
}

.nav-item.nav-dropdown {
    .nav-dropdown-items {
        .nav-item {
            a {
                padding-left: 25px;
            }
        }
    }
}

.profile-sidebar {
    text-align: center;
    font-size: 13px;
    .img-profile-sidebar {
        .img-avatar {
            width: 75px; 
        }

    }
}

footer.app-footer {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #9c9c9c !important;
    background-color: #f8f8f8;
    border-top: 1px solid #e4e4e4;
}

.app-header {
    .navbar-toggler-icon {
        height: 20px;;
    }
}

.tab-main-custom {
    .nav-tabs {
        .nav-link {
            border-radius: 0px;
        }
        .nav-link.active {
            background-color: $color-primary;
            color: #fff;
            border-color: $color-primary;
        }
    }
}