// @font-face {
//     font-family: 'Avenir';
//     font-weight: 300;
//     src: url("../fonts/Avenir-Light.otf") format("opentype");
// }

// @font-face {
//     font-family: 'Avenir';
//     font-weight: normal;
//     src: url("../fonts/Avenir-Roman.otf") format("opentype");
// }

// @font-face {
//     font-family: 'Avenir';
//     font-weight: 500;
//     src: url("../fonts/Avenir-Medium.otf") format("opentype");
// }

// @font-face {
//     font-family: 'Avenir';
//     font-weight: 600;
//     src: url("../fonts/Avenir-Heavy.otf") format("opentype");
// }

// @font-face {
//     font-family: 'Avenir';
//     font-weight: 700;
//     src: url("../fonts/Avenir-Black.otf") format("opentype");
// }

$font-slug: font !default;

@for $i from 10 through 50 {
  .#{$font-slug}-#{$i} {
    font-size: 1px * $i !important;
  }
}