.color-white {
    color: #fff !important;
}

.color-black {
    color: #000 !important;
}

.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.bg-light {
    background-color: $color-white !important;
}

.bg-white {
    background-color: $color-white !important;
}

.bg-primary {
    background-color: $color-primary !important
}

.bg-secondary {
    background-color: $color-secondary !important;
}

.bg-dark {
    background-color: $color-black !important;
}

.bg-black {
    background-color: $color-black !important;
}

.float-left {
    float: left !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

h1 {
    font-size: 34px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

.font-light {
    font-weight: 300 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: 600 !important;
}

.font-700 {
    font-weight: 700 !important;
}

.font-uppercase {
    text-transform: uppercase !important;
}

button,
button {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
    border-color: transparent;
}

a {
    color: $color-primary;
    transition: .2s;
}
a:hover {
    color: $color-primary;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.btn-border-primary {
    outline: none;
    border: 1px solid $color-primary;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 6px 10px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-primary.active {
    border-color: $color-primary;
    background-color: $color-primary;
    opacity: .87;
    color: #fff;
    pointer-events: none;
}

.btn-border-primary:hover,
.btn-border-primary:focus,
.btn-border-primary:active,
.btn-border-primary:not(:disabled):not(.disabled):active {
    border-color: $color-primary;
    background-color: $color-primary;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.btn-border-secondary {
    outline: none;
    border: 1px solid #DFCC99;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-secondary.active {
    border-color: #DFCC99;
    background-color: #DFCC99;
    opacity: 1;
    color: #fff;
    pointer-events: none;
}

.btn-border-secondary:hover,
.btn-border-secondary:focus,
.btn-border-secondary:active,
.btn-border-secondary:not(:disabled):not(.disabled):active {
    border-color: #DFCC99;
    background-color: #DFCC99;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}


.btn-border-black {
    outline: none;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 4px 30px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-border-black.active {
    border-color: #000;
    background-color: #000;
    opacity: 1;
    color: #fff;
    pointer-events: none;
}

.btn-border-black:hover,
.btn-border-black:focus,
.btn-border-black:active,
.btn-border-black:not(:disabled):not(.disabled):active {
    border-color: #000;
    background-color: #000;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}


.btn-primary {
    display: inline-block;
    outline: none;
    border-color: transparent;
    background-color: $color-primary;
    color: #fff !important;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 0px;
    transition: .3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    background-color: $color-primary;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.btn-secondary {
    border-radius: 0px;
    display: inline-block;
    outline: none;
    border-color: transparent;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 0px;
    transition: .3s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}

.btn-grey {
    display: inline-block;
    outline: none;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #F4F4F4;
    color: #000;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 400;
    border-radius: 0px;
    transition: .3s;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey:not(:disabled):not(.disabled):active {
    background-color: #000;
    opacity: .87;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff !important;
    text-decoration: none;
}


.btn-white {
    background-color: #fff;
    border: 1px solid transparent;
    color: $color-primary;
    font-size: 13px;
    padding: 6px 25px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:not(:disabled):not(.disabled):active {
    background-color: $color-primary;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.img-fix {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-fix2 {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.box-shadow {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=email],
input[type=password],
.form-control {
    height: 36px;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
.form-control {
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    color: #5c6873;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 10px 12px;
    transition: .2s;
}

input:focus,
textarea:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $color-primary;
}


input::placeholder,
textarea::placeholder,
.form-control::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}

.custom-select {
    border-radius: 1px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+) no-repeat 100% 50%;
    border: none;
    border: 1px solid #e4e4e4;
    outline: none;
    font-size: 13px;
    padding: 5px 12px;
    height: 36px;
    transition: .3s;
    color: rgba(0, 0, 0, .6);
}

.custom-select:focus {
    outline: none;
    border-color: $color-primary;
}

.vertical-top {
    vertical-align: top;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:not(:disabled):not(.disabled):active {
    outline: none;
    border-color: inherit;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

hr.transparent {
    border-color: transparent;
}

hr.short-line {
    width: 40px;
    margin-top: .3rem;
    margin-bottom: 1.4rem;
    border-width: 2px;
    border-color: $color-primary;
}

hr.short-line.left {
    width: 40px;
    margin: 0px;
    margin-top: .3rem;
    margin-bottom: 1.4rem;
    border-width: 2px;
    border-color: $color-primary;
}

.modal-custom-image {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            border-radius: 0px;
            padding: 10px;
            background: #000;
            border-bottom: none;
            .modal-title {
                font-weight: normal;
                font-size: 14px;
                color: #fff;
            }
            .close {
                color: #fff;
                opacity: 1;
                line-height: 0.8;
            }
        }
        .modal-body {
            border-radius: 0px;;
            padding: 5px;
        }
    }
}