<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15 pb-0">
        <div class="row">
          <div class="col-6">
            <div class="font-20 font-300">Company Data</div>
          </div>
        </div>
      </div>
      <hr class="mb-0">
      <div class="p-15 pt-0">
        <div class="row justify-content-center mt-30">
          <div class="col-sm-10">
            <form>
              <b-row class="mb-20">
                <b-col sm="2">
                  <label for="company_name">Company Name</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="company_name" type="text"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="mb-20">
                <b-col sm="2">
                  <label for="name_banner">Address</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="address" type="text"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="mb-20">
                <b-col sm="2">
                  <label for="email">Email</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="email" type="email"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="mb-20">
                <b-col sm="2">
                  <label for="email">Phone</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="email" type="text"></b-form-input>
                </b-col>
              </b-row>
              <b-row class="mb-20">
                <b-col sm="2">
                  <label for="map">Map</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input id="map" type="text"></b-form-input>
                </b-col>
              </b-row>
              <div class="text-right">
                <button @click="openPage('/slideBanner')" class="btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'

export default {
  name: 'addSlideBanner',
  data: function () {
    return {
      selected: null,
      options: [
        { value: null, text: 'Please select' },
        { value: 'active', text: 'Active' },
        { value: 'inactive', text: 'Inactive' }
      ]
    }
  },
  methods: {
    openPage (event) {
      this.$router.push(event)
    }
  }
}
</script>

<style>
</style>
