<template>
  <div class="animated fadeIn">
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'

export default {
  name: 'dashboard',
  data: function () {
    return {
    }
  }
}
</script>

<style>
</style>
