<template>
  <div class="animated fadeIn">
    <div class="title font-300 font-24 mb-15">
      {{this.$route.name}}
    </div>
    <div class="box">
      <div class="p-15 pb-0 pl-30 pr-30">
        <div class="row">
          <div class="col-6">
            <!-- <a @click="openPage('/listPerusahaan')" class="btn-grey"><i class="fas fa-arrow-circle-left mr-5"></i>Back</a> -->
            <div class="font-600">Penilaian Program Kerja Praktik</div>
          </div>
        </div>
      </div>
      <hr class="mb-0">
      <div class="p-30 pt-0">
        <div class="row justify-content-center mt-20">
          <div class="col-sm-12">
            <form @submit.prevent="validateRegister">
              <b-row class="mb-20">
                <b-col sm="12" v-for="item in pertanyaan" :key="item.id">
                  <label class="font-bold">{{ item.criteria }}</label>
                  <b-form-group>
                    <b-form-radio-group v-for="item2 in item.criteria_point" :key="item2.id" :id="'radios'+item2.id" v-model="selected" stacked :name="'pertanyaan'+item2.id">
                        <b-form-radio :value="item2.id">
                          {{ item2.description }}
                        </b-form-radio>
                    </b-form-radio-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row class="mb-20">
                <b-col sm="12">
                  <label class="font-bold">Catatan Tambahan</label>
                  <textarea class="w-100" rows="5" name="description" id="description" v-validate="'required'" v-model="addData.description"></textarea>
                  <span class="error">{{ errors.first('description') }}</span>
                </b-col>
              </b-row>
              <div class="text-right">
                <button type="submit" class="btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'
import axios from 'axios'
import { Auth } from '@/api'

export default {
  name: 'addListPerusahaan',
  data: function () {
    return {
      selected: null,
      addData: {
        name: '',
        email: '',
        telepon: '',
        address: '',
        description: ''
      },
      pertanyaan: []
    }
  },
  methods: {
    validateRegister () {
      this.$validator.validateAll().then((result) => {
        if(result) {
          axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
          axios.post(Auth.api_url+'admin/company/insert', this.addData).then(response => {
            // console.log('test', response)
            this.$router.push('/listPerusahaan')
            this.$toast.success('data saved successfully!', 'Success', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          }).catch(error => {
            // console.log('error', error)
            this.$toast.success('cant saved data!', 'Error', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          })
        } else {
          this.$toast.success('please fill in required fields!', 'Error', {
            position: 'topCenter',
            icon: 'icon-envelope',
            progressBarColor: 'rgb(0, 255, 184)',
            theme: 'dark',
            backgroundColor: '#565c70',
            messageColor: '#fff'
          })
        }
      })
    },
    openPage (event) {
      this.$router.push(event)
    },
    previewImage: function(event) {
        // Reference to the DOM input element
        var input = event.target;
        // Ensure that you have a file before attempting to read it
        if (input.files && input.files[0]) {
            // create a new FileReader to read this image and convert to base64 format
            var reader = new FileReader();
            // Define a callback function to run, when FileReader finishes its job
            reader.onload = (e) => {
                // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                // Read image as base64 and set to imageData
                this.imageData = e.target.result;
            }
            // Start the reader job - read file as a data url (base64 format)
            reader.readAsDataURL(input.files[0]);
        }
    },
    fetchData() {
      axios.defaults.headers.common = {'Authorization': "Bearer " + Auth.Session.get().itb_token}
      axios.get(Auth.api_url+'admin/criteria-penilaian').then(response => {
        console.log('test', response.data)
        this.pertanyaan = response.data
      }).catch(error => {
        console.log('error', error)
      })
    }
  },
  created () {
    this.fetchData()
  }
}
</script>

<style>
</style>
