<template>
  <div class="app flex-row align-items-center">
    <div class="container-fluid">
      <b-row class="justify-content-center login-box">
        <b-col md="6" lg="4">
          <b-card-group>
            <b-card no-body class="p-20">
              <div class="text-center">
                  <img class="mb-5 logo-login" :src="`/logo.png`">
              </div>
              <b-card-body>
                <form @submit.prevent="validateRegister">
                  <h4 class="font-300 text-center mb-30 color-primary">Login Dashboard</h4>
                  <div class="mb-15">
                    <b-form-input type="text" class="form-control" v-model="loginData.username" name="username" v-validate="'required'" maxlength="40" placeholder="Username" autocomplete="on"/>
                    <span class="error">{{ errors.first('username') }}</span>
                  </div>
                  <div class="mb-20">
                    <b-form-input type="password" class="form-control" v-model="loginData.password"  name="password" v-validate="'required'" placeholder="Password" autocomplete="on"/>
                    <span class="error">{{ errors.first('password') }}</span>
                  </div>
                  <div class="mb-10">
                    <b-button type="submit" class="btn-primary w-100">Login</b-button>
                  </div>
                  <div class="text-center">
                    <a class="color-link font-13 font-400" href="#">Forget Password?</a>
                  </div>
                </form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { Auth } from '@/api'

export default {
  name: 'Login',
  data: () => ({
    notificationSystem: {
      options: {
        success: {
          position: 'topCenter',
          icon: 'icon-envelope',
          progressBarColor: 'rgb(0, 255, 184)',
          theme: 'dark',
          backgroundColor: '#565c70',
          messageColor: '#fff'
        }
      }
    },
    loginData: {
      username: '',
      password: ''
    }
  }),
  methods: {
    validateRegister () {
      this.$validator.validateAll().then((result) => {
        if(result) {
          Auth.login(this.loginData).then(response => {
            // console.log('test', response)
            Auth.Session.create(response)
            this.$router.push('/dashboard')
            this.$toast.success('you have successfully logged in!', 'Success', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          }).catch(error => {
            console.log('error', error)
            this.$toast.success('cannot find data!', 'Error', {
              position: 'topCenter',
              icon: 'icon-envelope',
              progressBarColor: 'rgb(0, 255, 184)',
              theme: 'dark',
              backgroundColor: '#565c70',
              messageColor: '#fff'
            })
          })
        } else {
          this.$toast.success('please fill in required fields!', 'Error', {
            position: 'topCenter',
            icon: 'icon-envelope',
            progressBarColor: 'rgb(0, 255, 184)',
            theme: 'dark',
            backgroundColor: '#565c70',
            messageColor: '#fff'
          })
        }
      })
    }
  }
}
</script>
